@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-card {
    @apply bg-blue-500 aspect-[4/3] rounded-lg md:aspect-[3/4] xl:aspect-[4/3] overflow-hidden relative hover:scale-95 transition-all duration-500;
  }

  .grid-card-img {
    @apply w-full h-full bg-cover absolute group-hover:scale-125 transition-all duration-500;
  }
}
* {
  @apply font-sans;
}

body {
  font-family: "Inter", sans-serif;
}

.active {
  @apply text-teal-300;
}

.nav-menu {
  @apply text-lg md:text-xl hover:scale-110 transition duration-300 after:transition after:duration-300 flex flex-col after:border-b-4 after:scale-x-0 hover:text-teal-300 hover:after:border-teal-300 hover:after:scale-x-75 font-semibold ease-in-out after:ease-in-out cursor-pointer;
}

.nav-fix {
  @apply fixed z-[9999] bg-opacity-60 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.burger-line {
  @apply my-2 block h-[2px] w-[30px] transition duration-300 ease-in-out bg-white rounded;
}

.burger-active > span:nth-child(1) {
  @apply rotate-45;
}

.burger-active > span:nth-child(2) {
  @apply scale-0;
}

.burger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.swiper {
  @apply w-full;
}

.swiper-bold {
  @apply text-[30px] leading-[36px];
}

.swiper-thin {
  @apply text-[16px] leading-[24px];
}

.swiper-wrapper {
  @apply flex justify-between items-end;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  /* margin: 0; */
  /* padding: 0; */
  font-family: "Inter", sans-serif;
  /* scroll-behavior: smooth; */
}
.header {
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 55vh;
  width: 100%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.45);
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
}

.team {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.team p {
  text-align: center;
  font-size: 18px;
  margin: 0 10%;
  margin-top: 5.5%;
  margin-bottom: 5%;
}

.boxes h1 {
  margin-bottom: 10px;
  font-size: 40px;
}

.boxes {
  @apply bg-slate-100 rounded-xl shadow-2xl w-full p-8;
  /* margin: 20px; */
  /* padding: 20px; */
  /* height: 150px; */
  /* border-radius: 20px; */
  /* box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.4); */
  /* width: 35vw; */
}

.boxes a {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

#left {
  text-align: left;
  /* margin-left: 10%; */
  @apply w-full;
}

#right a,
#right h1 {
  text-align: right;
}

#right {
  margin-left: auto;
  margin-right: 10%;
  @apply w-full;
}

.team a {
  text-decoration: none;
  color: darkorange;
  letter-spacing: 1.5px;
}

.team a:hover {
  color: orangered;
}

@media only screen and (max-width: 767px) {
  .overlay {
    font-size: 18px;
  }
  .boxes {
    /* width: 70vw; */
    display: flex;
    flex-direction: column;
  }
  .boxes a {
    text-align: left;
    width: 100%;
  }
  .boxes h1 {
    font-size: 25px;
  }

  #left,
  #right {
    margin: 20px auto;
  }

  .team p {
    font-size: 15px;
  }
}
